<h3>Open questions</h3>
<% unless @topic.nil? %>
<h4><%=@topic.name%></h4>
<% end %>

<ul>
  <% @questions.each do |question| %>
  <%text = question.answers.count == 1 ? "answer" : "answers"%>
  <%follow_message = @user.followed_questions.include?(question) ? "Unfollow"  : "Follow"%>
  <li>
    <%=link_to question.title, question_url(question)%>
    <%=question.answers.count%> <%=text%>
    <br>
    <%=question.created_at.localtime.strftime('%m/%d/%Y %H:%M')%>

    <a href="#" class="follow_question" data-id="<%=question.id%>"><%=follow_message%></a>
  </li>
  <% end %>
</ul>


<%=link_to "back to user page", user_url(@user)%>
<br>