<% if !@params_user.nil? %>
<h4><%=@user.username%>'s Questions</h4>
<% elsif @topic.nil? %>
<h4>All Questions</h4>
<% else %>
<h4><%=@topic.name%></h4>
<% end %>

<ul>
  <% @questions.each do |question| %>
  <%text = question.answers.count == 1 ? "answer" : "answers"%>
  <%follow_message = @user.followed_questions.include?(question) ? "Unfollow"  : "Follow"%>
  <li>
    <%=link_to question.title, question_url(question)%>
    <%=question.answers.count%> <%=text%>
     <a href="#" class="follow_question" data-id="<%=question.id%>"><small><%=follow_message%></small></a>
    <br>
    <%=question.created_at.localtime.strftime('%m/%d/%Y %H:%M')%>

  </li>
  <% end %>
</ul>


<%=link_to "back to user page", user_url(@user)%>
<br>