<h4><%=@question.title%></h4>
Asked by: <%=@question.user.username%>
<br>
<%text = @answers.count == 1 ? "answer" : "answers"%>
<div class="answer_count"><%=@answers.count%> <%=text%></div>
<br>
Tags:
<% @topics.each do |topic| %>
<%=link_to topic.name, topic_questions_url(topic)%>
<%end%>
<br>
<a href="#" class="add topic link">Add Topic</a>
<div class="add_topic"></div>
<br>
<h4>Answers:</h4>
<a href="#" class="answer_question" id="answer_question<%=@question.id%>" data-id="<%=@question.id%>">Add Answer</a>
<div id="question_box<%=@question.id%>"></div>
<ul id="answer_list<%=@question.id%>">
  <% @answers.each do |answer| %>
  <% count = answer.comments.count %>
   <%comments_text = count == 1 ? "comment" : "comments"%>
   <%votes_text = answer.votes == 1 ? "vote" : "votes"%>
  <li id="answer_listing<%=answer.id%>">
    <%=answer.text%>
    <a href="#"
      class="comment_count"
      data-id="<%=answer.id%>">
      <span id="count<%=answer.id%>"><%=count%></span>
      <span id="comments_text<%=answer.id%>"><%=comments_text%></span>
    </a>
    <div id="vote_count<%=answer.id%>"><%=answer.votes%>
    <%=votes_text%></div>

    <div id="vote_text<%=answer.id%>">
    <% if current_user.answers.include?(answer) %>
    <%=''%>
    <% elsif current_user.answers_voted_on.include?(answer)%>
    <%="upvoted"%>
    <% elsif current_user.answers_downvoted.include?(answer)%>
    <%="downvoted"%>
    <% else %>
    <a href="#" class="up_vote" data-id="<%=answer.id%>">+</a>
    <a href="#" class="down_vote" data-id="<%=answer.id%>">-</a>
    <br>
    <% end %>
    </div>
    Posted by: <%=answer.user.username%>

    <% if current_user.answers.include?(answer)%>
      <a href="#" class="delete_answer" data-id="<%=answer.id%>">Remove</a>
    <% end %>

    <div id="comments_container<%=answer.id%>"></div>

    <a href="#" class="post_comment" id="post_comment<%=answer.id%>" data-id="<%=answer.id%>">comment</a>
    <div id="comment_field<%=answer.id%>"></div>
  </li>
  <% end %>
  </ul>

<%=link_to "back to user page", user_url(@user)%>
<br>
<%=link_to "all questions", questions_url%>
<br>



