<h3>User page</h3>
<%= @user.username %>

<h4>Questions</h4>
<ul>
<% @user.questions.each do |question| %>
<li><%= question.title %></li>
<% end %>
</ul>

<h4>Subjects following:</h4>
<ul>
  <% @subjects.each do |subject| %>
  <li><%=subject.name%></li>
  <% end %>
  </ul>

<%=link_to "questions index", questions_url, :method => :get%>

<%=button_to "logout", session_url, :method => :delete %>