<div class="sidebar">

<h3>User page</h3>
<%= @user.username %>
<br>
<a href="#" class="new_question_link">Ask a Question</a>
<br>
<div class="question"></div>
<%=link_to "Notifications", notifications_url, :method => :get%>

<h4>Subjects Following</h4>
<div class="subjects_following"></div>
<ul>
  <% @subjects.each do |subject| %>
  <li><%=subject.name%>
    <br>
  <a href="#" class="show_topics" id="show_topics<%=subject.id%>" data-id="<%=subject.id%>">View Topics</a>
  <div id="topic_list<%=subject.id%>"></div>
  </li>
  <% end %>
  </ul>



<h4>Trending Topics</h4>
<div class="trending"></div>

<a href="/users/<%=@user.id%>/questions">My Questions</a>
<br>

<%=link_to "All Questions", questions_url, :method => :get%>


</div>



<div class="feed">
  <div style="clear: both">
<a href="#" class="get_most_recent"><h5 class="selected" style="float: left">Most Recent</h5></a>
<a href="#" class="get_most_popular"><h5 style="float: left" class="get_most_popular">Popular</h5></a>
  </div>
  <hr />
<div class="feed_questions"></div>
<ul>
</ul>
</div>



<script type="text/javascript">
$(function() {
  getFeed();
  toggle = "recent";
  getTrendingTopics();
  $(".get_most_recent").on("click", function(event) {
    $(this).find('h5').addClass('selected')
    $(".get_most_popular").find('h5').removeClass('selected');
    toggle = "recent";
    event.preventDefault
    getFeed();
  });
  $(".get_most_popular").on("click", function(event) {
    $(".get_most_recent").find('h5').removeClass('selected');
    $(this).find('h5').addClass('selected');
    toggle = "popular";
    event.preventDefault;
    getPopular();
  })
  setInterval(function() {
    toggle === "popular" ? getPopular() : getFeed();
    getTrendingTopics();
  }, 60 * 1000);
});
</script>