<div class="sidebar">

<h3>User page</h3>
<%= @user.username %>
<br>
<a href="#" class="new_question_link">Ask a Question</a>
<br>
<div class="question"></div>

<h4>Subjects Following</h4>
<div class="subjects_following"></div>
<ul>
  <% @subjects.each do |subject| %>
  <li><%=subject.name%>
    <br>
  <a href="#" class="show_topics" id="show_topics<%=subject.id%>" data-id="<%=subject.id%>">View Topics</a>
  <div id="topic_list<%=subject.id%>"></div>
  </li>
  <% end %>
  </ul>



<h4>Trending Topics</h4>
<div class="trending"></div>

<a href="/users/<%=@user.id%>/questions">Your Questions</a>


<%=link_to "All Questions", questions_url, :method => :get%>

<%=button_to "Logout", session_url, :method => :delete %>

</div>



<div class="feed">
<h4>Most Recent</h4>
<a href="#" class="refresh_feed">refresh</a>
<div class="feed_questions"></div>
<ul>


</ul>
</div>

<script type="text/javascript">
$(function() {
  getFeed();
  getTrendingTopics();
  $(".refresh_feed").on("click", function(event) {
    event.preventDefault
    getFeed();
  });
  setInterval(function() {
    getFeed();
    getTrendingTopics();
  }, 60 * 1000);
});
</script>