<% items.forEach(function(item) {%>
  <li>
    <%var username = JSON.parse(item).user.username%>
    <%var className = determineClass(JSON.parse(item))%>
    <%var message = className === "Follow" ? "started following your question" : "posted" %>
    <%if (className === "Follow") {%>
      <%className = "" %>
    <%}%>

    <%=username%> <%=message%> <%=className%>
    <%=getTimeStamp(JSON.parse(item).created_at)%>
    <%var title = JSON.parse(item).question.title%>
    <a href="/questions/<%=JSON.parse(item).question.id%>"><%=title%></a>
    <br>
    <%=JSON.parse(item).text%>


<%}) %>

  </li>
