<% for (var key in items) { %>
  <li>
    <%var username = JSON.parse(key).user.username%>
    <%var className = determineClass(JSON.parse(key))%>
    <%=className%> posted by <%=username%>
    <%=getTimeStamp(JSON.parse(key).created_at)%>
    <%var title = JSON.parse(key).question.title%>
    <a href="/questions/<%=JSON.parse(key).question.id%>"><%=title%></a>
    <br>
    <%=JSON.parse(key).text%>


  </li>
<%}%>