<ul class="unstyled">
  <% questions.forEach(function(question) { %>
    <li>
      <a href="/questions/<%=question.id%>"> <%= question.title %> </a>
      <%=question.answers.length%> Answers
      <%=question.comments.length%> Comments
      <br>
      <%=getTimeStamp(question.created_at)%>
      <br>

    </li>
  <%})%>
</ul>